@{
    ViewBag.Title = "Home Page";
}

<div class="container">

        <div class="row">
        @foreach (var tenders in ViewBag.PaketList)
                {
            <div class="col-sm-6 col-md-4">
                
                <form enctype="multipart/form-data" class="form-horizontal" method="post" action="/Home/PktIslem">
                    <div class="thumbnail">
                        <img src="@Url.Content(@tenders.PKTIMG)" alt="...">
                        <div class="caption">
                            <h3>@tenders.PKTNAME</h3>
                            <!--<p>@tenders.PKTNAME</p>-->
                            <p>@tenders.PKTFIYAT ₺</p>
                            @if (@tenders.PKTTIPI.ToString() == "4c38a353-bc02-4506-8f04-2bc71f5eb300")
                            {
                                <p><button id="@tenders.ID" class="btn btn-success col-sm-offset-4" name="@tenders.ID" value="@tenders.ID"><i class="fa fa-credit-card"></i> Bilet Al</button></p>
                            }
                            else
                            {
                                <p><button id="@tenders.ID" class="btn btn-success col-sm-offset-4" name="@tenders.ID" value="@tenders.ID"><i class="fa fa-credit-card"></i> Bilet Al</button></p>
                            }

                        </div>
                    </div>
                </form>
</div>
                }
        </div>
</div>

